$primary: #ec7f19;
$danger: #f44336;
$info: #1a2b35;
$dark: #1a181f;
$dark-subtle: #231f2b;
$light: #f0ebe5;
$light-subtle: #f0eae5;
$secondary: #d5d1db;
$success: #80a544;
$warning: #b1079a;
//$body: ;
$body-bg: $light;
$body-color: $info;

//$font-family-base: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”,
//  “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
//  sans-serif;
//$font-size-base
//$line-height-base

$link-decoration: none;
$breadcrumb-divider-color: $primary;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

/*

GEYSER
Light shades
Use this color as the background for your dark-on-light designs, or the text color of an inverted design.

RED VIOLET
Light accent
Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette.

SEA BUCKTHORN
Main brand color
This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity.

APPLE BLOSSOM
Dark accent
Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best.

BALTIC SEA
Dark shades
Use as the text color for dark-on-light designs, or as the background for inverted designs.

*/
